body {

    font-family: Arial, sans-serif;
    background-image: url("ima.png"); 
    background-size: cover;
    text-align: center;
}

h1 {
    color: #1b190f; 
}

#anime-list {
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;

    border-radius: 5px;
    cursor: pointer;
}
